@import "./vars.css";

.container {
    z-index: 1;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;

    @apply relative flex flex-col mb-12 h-5/6;
}

.title {
    font-family: var(--font-robot);

    @apply text-6xl font-black my-6 self-center;
}

.initialText {
    font-family: var(--font-robot);

    @apply text-2xl my-2 self-center;
}

.content {
    @apply flex flex-col gap-6;
}

.mastersList {
    @apply flex justify-stretch gap-8 ;
}

.aboutList {
    @apply flex justify-between gap-6 mt-10;
}

.about {
    @apply flex flex-row justify-between;
}

.aboutInfo {
    @apply content-center;
}

.master {
    background-color: white;
    border-color: var(--color-secondary);

    @apply p-4 border-2 border-solid rounded-2xl;
    @apply flex flex-col text-center items-center w-full;
}

.icon {
    @apply w-8 p-1.5;
}

.skillIcon {
    @apply w-8 p-0;
}

.masterText {
    font-family: var(--font-robot);

    @apply m-0 font-bold text-base;
}

.uniText {
    font-family: var(--font-robot);
    color: var(--color-text);

    @apply mt-2 mx-0 mb-0 text-sm list-none no-underline cursor-pointer;
}

.pin {
    color: var(--color-primary);
    @apply w-5;
}

.location {
    font-family: var(--font-robot);
    @apply mx-0 mt-5 mb-0 font-bold text-xl;
}

.description {
    font-family: var(--font-robot);

    @apply text-xl my-2 text-justify;
}

.experience {
    @apply flex flex-row gap-4 justify-center;
}

.jobs {
    background-color: white;
    border-color: var(--color-secondary);

    @apply py-4 px-4 border-2 border-dashed rounded-full;
    @apply flex flex-col text-center;
}


.skillsSection {
    @apply flex flex-col;
}

.skillItem {
    @apply mb-2;
}

.progressBarContainer {
    background-color: var(--color-secondary);
    border-radius: 8px;
    width: 120px;
    height: 8px;
    margin-top: 4px;
}

.progressBar {
    background-color: var(--color-primary);
    height: 100%;
    border-radius: 8px;
}

.skillLine {
    @apply flex justify-between flex-row gap-4 items-center mb-1;
}

.skill {
    @apply flex gap-2 items-center;
}

@media screen and (max-width: 830px) {
    .container {
        margin-left: 0;
        margin-right: 0;

        @apply mt-10;
    }

    .content {
        margin-left: 0;
        margin-right: 0;

        @apply items-center;
    }

    .description {
        @apply text-base;
    }

    .mastersList {
        @apply flex-col gap-8 ;
    }
}