@import "./vars.css";

.container {
    z-index: 1;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;

    @apply relative flex flex-col mb-12 h-5/6;
}

.title {
    font-family: var(--font-robot);

    @apply text-6xl font-black my-6 self-center;
}

.initialText {
    font-family: var(--font-robot);

    @apply text-2xl my-2 self-center;
}

.content {
    @apply flex flex-col gap-6;
}

.aboutList {
    @apply flex justify-between gap-6 mt-10;
}

.about {
    @apply pt-8 flex flex-row justify-between;
}

.aboutInfo {
    @apply content-center;
}

.mastersList {
    @apply flex flex-row gap-8;
}

.master {
    background-color: white;

    @apply p-4 rounded-2xl;
    @apply flex flex-col items-center w-full;
}

.icon {
    @apply w-8 p-1.5;
}

.skillIcon {
    @apply w-8 p-0;
}

.masterText {
    font-family: var(--font-robot);

    @apply m-0 font-bold text-base text-center;
}

.uniText {
    font-family: var(--font-robot);
    color: var(--color-text);

    @apply mt-2 mx-0 mb-0 text-sm list-none no-underline cursor-pointer;
}

.pin {
    color: var(--color-primary);
    @apply w-5;
}

.location {
    font-family: var(--font-robot);
    @apply mx-0 mt-5 mb-0 font-bold text-xl;
}

.description {
    font-family: var(--font-robot);

    @apply text-xl my-2 text-justify;
}

.skillsSection {
    @apply flex flex-col;
}

.skillItem {
    @apply mb-2;
}

.icon {
    @apply w-8 p-1.5;
}

.progressBarContainer {
    background-color: var(--color-secondary);
    border-radius: 8px;
    min-width: 100px;
    height: 8px;
    margin-top: 4px;
}

.progressBar {
    background-color: var(--color-primary);
    height: 100%;
    border-radius: 8px;
}

.skillLine {
    @apply flex justify-between flex-row gap-8 items-center;
    @apply mb-1;
}

.skill {
    @apply flex gap-2 items-center;
}

@media screen and (max-width: 1450px) {
    .container {
        margin-left: 0;
        margin-right: 0;

        @apply mt-10;
    }

    .content {
        margin-left: 0;
        margin-right: 0;

        @apply items-center gap-0;
    }

    .title {
        @apply text-4xl pt-0 pb-2 mt-0;
    }

    .initialText {
        @apply text-lg;
    }

    .about {
        @apply pt-0;
    }

    .description {
        @apply text-base;
    }

    .location {
        @apply text-base my-2;
    }

    .uniText {
        @apply my-0.5;
    }

    .icon {
        @apply hidden;
    }

    .master {
        width: 700px;

        @apply p-2 my-2 mx-5 self-center;
    }

    .mastersList {
        @apply flex-col gap-0;
    }

    .aboutInfo {
        width: 700px;

        @apply my-2 mx-5 self-center;
    }
}

@media screen and (max-width: 830px) {
    .aboutInfo {
        @apply p-0 self-auto m-0 w-72;
    }

    .master {
        @apply p-4 self-auto m-3 w-72;
    }
}