@import "./vars.css";

.container {
    z-index: 1;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;

    @apply relative flex flex-col items-center mb-12 h-5/6;
}

.title {
    font-family: var(--font-robot);

    @apply text-6xl font-black my-6;
}

.initialText {
    font-family: var(--font-robot);

    @apply text-2xl my-2;
}

.content {
    @apply flex flex-col gap-6;
}

.mastersList {
    @apply flex justify-stretch gap-8 ;
}

.aboutList {
    @apply flex justify-between gap-6 mt-10;
}

.aboutInfo {
    max-width: 75%;
}

.master {
    border-color: var(--color-secondary);

    @apply p-4 border-2 border-solid rounded-2xl;
    @apply flex flex-col text-center items-center w-full;
}

.icon {
    @apply w-8 p-1.5;
}

.masterText {
    font-family: var(--font-robot);

    @apply m-1 font-bold;
}

.uniText {
    font-family: var(--font-robot);

    @apply m-1;
}

.pin {
    color: var(--color-primary);
    @apply w-5;
}

.location {
    font-family: var(--font-robot);
    @apply m-1 font-bold text-xl;
}

.description {
    font-family: var(--font-robot);

    @apply text-xl my-2 text-justify;
}

.experience {
    @apply flex flex-row gap-4 justify-center;
}

.jobs {
    border-color: var(--color-secondary);

    @apply p-4 border-2 border-solid rounded-full;
    @apply flex flex-col text-center;
}


.skillsSection {
    @apply flex flex-row gap-8 mt-10;
}

.skillsList, .languagesList {
    @apply flex flex-col items-center w-full;
}

.skillsTitle {
    font-family: var(--font-robot);
    @apply text-2xl font-bold my-2;
}

.skills, .languages {
    @apply list-none p-0 text-center;
}

.skills li, .languages li {
    font-family: var(--font-robot);
    @apply m-1;
}

