@import "./vars.css";

.container {
    z-index: 0;
    margin-top: 10%;
    padding-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;

    @apply relative flex justify-between;
    @apply flex flex-col;
}

.title {
    font-family: var(--font-robot);

    @apply text-6xl font-black my-4 self-center;
}

.initialText {
    font-family: var(--font-robot);

    @apply text-2xl my-0.5 self-center;
}

.buttonsLine {
    @apply flex gap-3 self-center my-6;
}

.icon {
    @apply w-16;
}

.button {
    background-color: var(--color-primary);
    font-family: var(--font-robot);

    @apply text-lg no-underline mb-4 rounded-full font-black p-2 cursor-pointer;

    line-height: 0;
}

@media screen and (max-width: 830px) {
    .container {
        margin-left: 0;
        margin-right: 0;

        @apply mt-10;
    }

    .title {
        @apply text-4xl pt-0 pb-2 mt-0;
    }

    .initialText {
        @apply text-lg;
    }

    .buttonsLine {
        @apply mt-0 mb-6;
    }
}