@import "./vars.css";

.container {
    z-index: 1;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;

    @apply relative flex justify-between;
    @apply flex flex-col;
}

.title {
    font-family: var(--font-robot);

    @apply text-6xl font-black my-6 self-center;
}

.initialText {
    font-family: var(--font-robot);

    @apply text-2xl my-2 self-center;
}

.jobsList {
    @apply pt-8 flex flex-col gap-8;
}

.job {
    background-color: white;
    border-color: var(--color-secondary);
    min-width: 50vw;
    max-width: 850px;

    @apply p-4 border-2 border-solid rounded-2xl self-center;
}

.icon {
    @apply w-8 p-1.5;
}

.jobTitle {
    font-family: var(--font-robot);

    @apply my-1 font-bold text-2xl;
}

.jobData {
    font-family: var(--font-robot);

    @apply text-lg my-2 text-justify;
}

.firstLine {
    @apply flex flex-col;
}

.secondLine {
    @apply flex flex-row justify-between;
}

.thirdLine {
    @apply flex justify-center;
}

.button {
    border-color: var(--color-secondary);
    transition: background-color 0.3s ease;

    @apply px-2 border-2 border-solid rounded-2xl ml-52;
}

.button:hover {
    background-color: var(--color-primary);
    cursor: pointer;
    border-color: transparent;
}

.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    @apply fixed flex justify-center items-center;
    @apply inset-0 z-50;
}

.modalContent {
    background-color: var(--color-bg);
    max-width: 600px;

    @apply p-10 rounded-2xl relative;
}

.closeButton {
    top: 10px;
    right: 10px;

    @apply cursor-pointer absolute bg-none border-none;
    @apply text-3xl;
}

.jobDetails {
    font-family: var(--font-robot);

    @apply text-base my-2 text-justify;
}

.experienceItem {
    @apply mb-2;
}

@media screen and (max-width: 830px) {
    .container {
        margin-left: 0;
        margin-right: 0;

        @apply mt-10;
    }

    .content {
        margin-left: 0;
        margin-right: 0;

        @apply items-center gap-2;
    }

    .title {
        @apply text-4xl pt-0 pb-2;
    }

    .initialText {
        @apply text-lg;
    }

    .jobsList {
        @apply pt-0 gap-0;
    }

    .job {
        min-width: 50vw;
        max-width: 850px;

        @apply p-2 self-auto m-3;
    }

    .firstLine {
        @apply flex-col gap-0.5;
    }

    .secondLine {
        @apply flex-col;
    }

    .thirdLine {
        @apply pt-1;
    }

    .button {
        @apply ml-0 self-center;
    }

    .jobTitle {
        @apply my-0 text-lg;
    }

    .jobData {
        @apply text-base my-1;
    }

    .jobDetails {
        @apply text-sm;
    }

    .icon {
        @apply w-6 p-1;
    }
}
