@import "./vars.css";

.container {
    margin-top: 10%;
    z-index: 1;
    margin-left: 20%;
    margin-right: 20%;

    @apply relative flex justify-between;
    @apply flex flex-col;
}

.title {
    font-family: var(--font-robot);

    @apply text-6xl font-black my-6 self-center;
}

.initialText {
    font-family: var(--font-robot);

    @apply text-2xl my-2 self-center;
}

.jobsList {
    @apply pt-8 flex flex-col gap-8;
}

.job {
    border-color: var(--color-secondary);

    @apply p-4 border-2 border-solid rounded-2xl;
    @apply w-full;
}

.icon {
    border-color: var(--color-secondary);

    @apply w-8 p-1.5;
}

.jobTitle {
    font-family: var(--font-robot);

    @apply m-1 font-bold text-2xl;
}

.jobData {
    font-family: var(--font-robot);

    @apply text-lg my-2 text-justify;
}

.firstLine {
    @apply flex;
}

.secondLine {
    @apply flex flex-row justify-between;
}

.thirdLine {
    @apply flex justify-center;
}

.button {
    border-color: var(--color-secondary);
    transition: background-color 0.3s ease;

    @apply px-2 border-2 border-solid rounded-2xl;
}

.button:hover {
    background-color: var(--color-primary);
    cursor: pointer;
    border-color: transparent;
}