@import "./vars.css";

.container {
    z-index: 1;
    margin-left: 15%;
    margin-right: 15%;

    @apply relative flex items-center justify-between mb-12 mt-20;
}

.content {
    color: var(--color-text);
    z-index: 1;

    @apply flex flex-col items-center;
}

.photo {
    width: 40%;
    z-index: 1;
}

.icon {
    @apply w-10;
}

.title {
    font-family: var(--font-robot);

    @apply text-6xl font-black my-6;
}

.description {
    font-family: var(--font-robot);

    @apply text-2xl my-2;
}

.btnLarge {
    background-color: var(--color-primary);
    font-family: var(--font-robot);

    @apply text-xl no-underline mb-4 rounded-full font-black p-4 cursor-pointer;
}

.btnSmall {
    background-color: var(--color-primary);
    font-family: var(--font-robot);

    @apply text-lg no-underline mb-4 rounded-full font-black p-2 cursor-pointer;

    line-height: 0;
}

.firstBtnLine {
    @apply flex gap-5 mt-8;
}

.secondBtnLine {
    @apply flex gap-3;
}

@media screen and (max-width: 830px) {
    .container {
        @apply flex-col;
    }

    .content {
        @apply items-center;
    }
}