@import "./vars.css";

.container {
    z-index: 1;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;

    @apply relative flex justify-between;
    @apply flex flex-col;
}

.title {
    font-family: var(--font-robot);

    @apply text-6xl font-black my-6 self-center;
}

.initialText {
    font-family: var(--font-robot);

    @apply text-2xl my-2 self-center;
}

.projectsList {
    @apply pt-8 flex flex-row gap-8;
}

.smallProject {
    background-color: white;

    @apply p-4 rounded-2xl flex flex-col justify-between;
    @apply w-full;
}

.mainText {
    font-family: var(--font-robot);

    @apply text-xl my-1.5 font-bold;
}

.smallText {
    font-family: var(--font-robot);

    @apply text-base my-1 text-justify;
}

.subTitleText {
    @apply smallText font-bold;
}

.projectDescription {
    @apply h-auto;
}

.button {
    background-color: var(--color-primary);
    transition: background-color 0.3s ease;
    font-family: var(--font-robot);
    color: white;

    @apply px-3 py-1 rounded-2xl self-center;
    @apply text-lg text-justify no-underline;
}

.button:hover {
    background-color: var(--color-dark);
    cursor: pointer;
    border-color: transparent;
}

.projectImage {
    /*width: 20vw;*/
    /*height: 150px;*/

    @apply self-center object-cover my-2 w-full h-40;
}

.icon {
    @apply h-8 p-1.5;
}

.iconsLine {
    @apply flex justify-center gap-0.5 mt-auto mb-2 align-bottom;
}

.buttonsLine {
    @apply flex justify-center gap-2 mt-2;
}

@media screen and (max-width: 830px) {
    .container {
        margin-left: 0;
        margin-right: 0;

        @apply mt-10;
    }

    .title {
        @apply text-4xl pt-0 pb-2;
    }

    .initialText {
        @apply text-lg;
    }

    .projectsList {
        @apply flex-col pt-0 gap-0 items-center;
    }

    .smallProject {
        @apply px-2 py-4 self-auto m-3 w-auto;
    }

    .projectImage {
        @apply w-auto h-36;
    }

    .mainText {
        @apply text-lg my-1.5;
    }

    .smallText {
        @apply text-sm my-1;
    }

    .projectDescription {
        @apply h-auto my-0;
    }

    .icon {
        @apply h-6 p-1;
    }

    .btnText {
        @apply text-sm;
    }
}