@import "./vars.css";

.container {
    z-index: 1;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;

    @apply relative flex justify-between;
    @apply flex flex-col;
}

.title {
    font-family: var(--font-robot);

    @apply text-6xl font-black my-6 self-center;
}

.initialText {
    font-family: var(--font-robot);

    @apply text-2xl my-2 self-center;
}

.projectsList {
    @apply pt-8 flex gap-8;
}

.smallProject {
    border-color: var(--color-secondary);

    @apply p-4 border-2 border-solid rounded-2xl;
}

.bigProject {
    border-color: var(--color-secondary);
    /*min-width: 30vw;*/

    @apply p-4 border-2 border-solid rounded-2xl;

}

.mainText {
    font-family: var(--font-robot);

    @apply m-1 font-bold;
}

.smallText {
    font-family: var(--font-robot);

    @apply m-1;
}

.btnText {
    font-family: var(--font-robot);
    color: var(--color-text);

    @apply text-base my-1 text-justify list-none no-underline;
}

.projectImage {
    @apply w-full;
}

.icon {
    @apply w-8 h-8 p-1.5;
}

.iconsLine {
    @apply flex justify-center;
}

.buttonsLine {
    @apply flex justify-center gap-4 mt-2;
}

.button {
    border-color: var(--color-secondary);
    transition: background-color 0.3s ease;

    @apply px-2 border-2 border-solid rounded-2xl;
}

.button:hover {
    background-color: var(--color-primary);
    cursor: pointer;
    border-color: transparent;
}