:root {
    --color-text: #0f202a;
    --color-primary: #76bacb;
    --color-secondary: #8d8f9d;
    --color-opposite: #CB8776;
    --color-dark: #154d5b;
    --color-bg: #c9c8c8;

    --font-robot: "Roboto";
}